$TEXT: #44454c;
$INTERACTIVE: #ff00ff;
$WINDOW_BORDER: #bfc6dd;
$BACKGROUND: #fff;
$HIGHLIGHTED: rgba(255, 255, 255, 0.9);
$SELECTED_TEXT_BACKGROUND: #ffff00;
$SELECTED_TEXT_COLOR: #000;
$SHADOW: #999;
$SCRUBBER_SHADOW: #bbb;
$HAMBURGER_BACKGROUND: rgba(255, 255, 255, 0.5);
$SHIMMER: #f4f4f4;
$WINDOW_MONITOR_BORDER: #898989;